# Use this to show files that aren't in git:
# git add -n *

SIL_SmartUpsEm.*
SmartUpsEmulator/HowToUse/Pics
.tmp.driveupload
*.bin
*.elf
*.eep
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest-backups/VoltageDividerTest-2024-02-14_103846.zip
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest-backups/VoltageDividerTest-2024-02-14_115851.zip
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest.kicad_pcb
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest.kicad_prl
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest.kicad_pro
SmartUpsEmulator/VoltageDividerTest/VoltageDividerTest.kicad_sch

*.vpj
*.vpw
*.vpwhistxml
*.vtg
SIL_Smart-UPS_Emulator.vpwwildcardcache

Utilities/SerialTerminal/build/*
Utilities/SerialTerminal/StartSerialTerminal_TimeStamp_Pool.bat
Utilities/SerialTerminal/*.txt
Utilities/SerialTerminal/dist/*.txt
Utilities/SerialTerminal/dist/SerialTerminal/*.txt
Utilities/SerialTerminal/StartSerialTerminal_TimeStamp_Pool.bat
Utilities/SerialTerminal/ArduinoLog.txt


